$alignments: "lawful", "neutral", "chaotic";

@each $a in $alignments {
  input.sheet-checklines-ctrl:not([value="#{$a}"]) ~ button.sheet-checkline-#{$a} > span.sheet-checked {
    background: transparent;
    color: transparent !important;
  }
}