div.sheet-armor-form {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: repeat(3, auto);
  grid-gap: 0.25em 0.5em;
  input {
    height: 28px;
  }
  input[type="number"],
  select {
    width: 66px;
  }

  span.sheet-spacer {
    height: 1em;
    grid-column-end: 7;
  }
}