div.armor-form
  span Name
  span AC
  span Checks
  span Speed
  span Fumble Die
  span Value
  input(type="text" name="attr_armorname")
  input(type="number" name="attr_armoracbonus")
  input(type="number" name="attr_armorcheckpenalty")
  input(type="number" name="attr_armorspeedpenalty")
  select(name="attr_armorfumbledie")
    option(value="d4") d3
    option(value="d4") d4
    option(value="d4") d5
    option(value="d4") d6
    option(value="d4") d7
    option(value="d4") d8
    option(value="d4") d10
    option(value="d4") d12
    option(value="d4") d14
    option(value="d4") d16
    option(value="d4") d20
    option(value="d4") d24
    option(value="d4") d30
  input(type="number" name="attr_armorvalue")
  span.spacer