div.inventory

  span.block-label Armor
  include ./armor.pug

  span.block-label Weapons
  include ./weapons.pug
  
  span.block-label Other Possessions
  div.miscellaneous
    textarea(name="attr_inventoryplaceholder")