div.vitals
  //- Start the saves row
  span.inline-label.vitals-label Saves:
  each save in ["for", "ref", "wil"]
    input(type="number" name=`attr_${save}save` value=0 readonly)
  span.spacer &nbsp;
  //- Start save labels row
  span &nbsp;
  each save in ["FOR", "REF", "WIL"]
    span #{save}
  span.spacer &nbsp;
  //- Spacer row
  span.spacer &nbsp;
  //- Start the rolled HP row
  span.inline-label.vitals-label Rolled HP:
  - var i = 0;
  while i <= 10
    input(type="number" name=`attr_basehp${i++}` value=0)
  input(type="number" name="attr_basehptotal" value=0 readonly)
  //- Start level labels row for rolled HP
  span &nbsp;
  - i = 0;
  while i <= 10
    span Lvl #{i++}
  span Total
  //- Spacer row
  span.spacer &nbsp;
  //- Start birth augur row
  span.inline-label.vitals-label Birth Augur:
  input(type="number" name="attr_augurmod" value=0)
  input(type="number" name="attr_augurroll" value=0)
  input.augur(type="text" name="attr_augur" value="Please enter birth augur roll" readonly)
  //- Start birth augur labels row
  span &nbsp;
  span Mod
  span Roll
  span.augur &nbsp;
  //- Spacer row
  span.spacer &nbsp;
