div.sheet-vitals {
  display: grid;
  grid-template-columns: 9em repeat(12, 3.5em);
  grid-template-rows: repeat(9, auto);
  grid-gap: 0.25em 0.5em;
}

input.sheet-augur,
span.sheet-augur {
  width: 100%;
  grid-column-end: span 10;
}

span.sheet-spacer {
  grid-column-end: 14;
}