div.hero-details
  div.hero-details-buttons
    button.details-button(type="action" name="act_selectvitals") Vitals
    button.details-button(type="action" name="act_selectinventory") Inventory
    button.details-button(type="action" name="act_selectstatus") Status
    button.details-button(type="action" name="act_selectabilities") Abilities
    button.details-button(type="action" name="act_selectspellcasting") Spellcasting
  input.toggle(type="hidden", name="attr_selectvitals")
  div.hero-details-content
    include ../vitals/vitals.pug
  input.toggle(type="hidden", name="attr_selectinventory")
  div.hero-details-content
    include ../inventory/inventory.pug
  input.toggle(type="hidden", name="attr_selectstatus")
  div.hero-details-content
    include ../status/status.pug
  input.toggle(type="hidden", name="attr_selectabilities")
  div.hero-details-content
    include ../abilities/abilities.pug
  input.toggle(type="hidden", name="attr_selectspellcasting")
  div.hero-details-content
    include ../spells/spells.pug