div.combat-summary
  div
    label Current HP
    input(type="number" name="attr_hpCurr")

  div
    label Max HP
    input(type="number" name="attr_hpMax")

  div
    label AC
    input(type="number" name="attr_ac")

  div
    label Movement
    input(type="number" name="attr_movement")

  div
    label Initiative
    input(type="number" name="attr_initiative")
