div.weapons
  label Melee Weapons
  span Equipped?
  span Name
  span Damage
  span Sneak Damage
  span 2H?
  span Subdual?
  span Mounted?
  fieldset.repeating_meleeWeapons

  label Ranged Weapons
  span Equipped?
  span Name
  span Damage
  span Sneak Damage
  span 2H?
  span Subdual?
  fieldset.repeating_rangedWeapons
