mixin sheets(v)
  div(class=`character char-${v}`)
    input(type="hidden", name=`attr_dead_${c}`, value="").checkline
    span(class=`dead-stamp-${v}`)
      | DEAD
    if block
      block
    else
      p Oh shit, we lost the sheet