/* Checkline styles need to be aware of the different values for each set of
checklines (in order to properly indicate which value is selected).  These
should be defined in their own files under the relevant component, and then
registered below. */
@use "../components/alignment/alignment_selector";

.sheet-checklines {
  /* Configure the container for the checkline buttons. */
  display: inline-flex;
  align-items: center;
  vertical-align: bottom;
  height: 27px;
  padding: 4px;
  > button.sheet-checkline {
    background: transparent;
    border: none;
    border-bottom: 1px solid black;  
    width: 14px;
    height: 14px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    > span.sheet-checked {
      color: black;
      display: inline-flex;
    }
    ~ span {
      margin-right: 10px;
    }
  }
}