span.sheet-dead-stamp {
  /* Put that DEAD stamp all up in their face. */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  font-size: 20em;
  color: red;
}

input.sheet-toggle-ctrl[value="on"] {
  + button.sheet-tab {
    > input.sheet-tabrank, input.sheet-tabtext {
      /* Strikethrough tab text for dead characters. */
      background-image: linear-gradient(transparent 1em, black 1em, black 1.15em, transparent 1.15em);
    }
  }
}

input.sheet-toggle-ctrl[value="off"] {
  + span.sheet-dead-stamp {
    /* Hide the "DEAD" stamp the character is not dead. */
    display: none;
  }
}