$sheet-tab-width: 20em !default;
$sheet-tab-margins: 0.5em !default;
$sheet-shadow: 1.25em 0.75em 0.5em !default;

div.sheet-tabs {
  position: relative;
}

button.sheet-tab {
  position: relative;
  width: $sheet-tab-width;
  margin-left: $sheet-tab-margins*2;
  background: lightgrey;
  border: 0;
  padding: 0;
  border-bottom: 1px solid grey;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  position: relative;
  z-index: 1;
  box-shadow: $sheet-shadow;
  > input.sheet-tabrank {
    display: inline-block;
    width: 2em;
    background: transparent;
  }
  > input.sheet-tabtext {
    width: $sheet-tab-width - 4em;
    background: transparent;
    border: none;
    cursor: pointer;
  }
}