mixin stat_control(label, attr, default_val)
  input.stat(type="number", name=`attr_${attr}`, value=default_val)&attributes(attributes)
  input.stat-mod(type="number", name=`attr_${attr}_mod`, value=default_val)&attributes(attributes)