@for $i from 1 through 4 {
    input.sheet-control-dead-#{$i}[value="dead"] ~ .sheet-root {
      button.sheet-tab-#{$i} > input.sheet-tabrank,
      button.sheet-tab-#{$i} > input.sheet-tabtext {
        /* Strikethrough tab text for dead characters. */
        background-image: linear-gradient(transparent 1em, black 1em, black 1.15em, transparent 1.15em);
      }
      span.sheet-dead-#{$i} {
        /* Put that DEAD stamp all up in their face. */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;
        font-size: 20em;
        color: red;
      }
    }
        
    input.sheet-control-dead-#{$i}[value="alive"] ~ .sheet-root {
      span.sheet-dead-#{$i} {
        /* Hide the "DEAD" stamp the character is not dead. */
        display: none;
      }
      button.sheet-checkline-dead-#{$i} > span.sheet-checked {
        /* Hide the "checked" section of the checkline if the character is not dead. */
        background: transparent;
        color: transparent !important;
      }
    }
  }