$sheet-col-width: 20em !default;
$sheet-col-margins: 0.5em !default;

input.sheet-equip-select:not([value="Custom"]) ~ div.sheet-equip.sheet-custom,
input.sheet-equip-select:not([value="Armor"]) ~ div.sheet-equip.sheet-armor,
input.sheet-equip-select:not([value="Weapon"]) ~ div.sheet-equip.sheet-weapon {
  /* Equipment type selection logic. */
  display: none !important;
}

div.repitem {
    /* Format the gear section. */
    $select-width: 10em;
    select.sheet-equip-type {
        width: $select-width;
        display: block;
        margin-bottom: 0em;
        border-bottom: 0px solid transparent;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    $equip-width: $sheet-col-width*2 - $sheet-col-margins;
    div.sheet-equip {
        /* Width of an equipment controls div is the width of a double-wide div.
        But since we're using a padding of $sheet-col-margins, we need to subtract
        two times that value to get the correct width. */
        width: $equip-width;
        display: inline-block;
        position: relative;
        border: 1px solid rgb(204, 204, 204);
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        padding: $sheet-col-margins;
        margin-bottom: $sheet-col-margins;
        div.sheet-col.sheet-input-col {
        margin-left: 0.5em;
        }
        div.sheet-col.sheet-label-inline {
        /* Styling for labels that are inline with their fields. */
        width: 8em;
        }
        input {
        width: 5em;
        }
    }
    select.sheet-equip-type ~ div.sheet-equip::before {
        /* This will "hide" the part of the top border adjacent to the equip-type select
        control, effectively making the components look like one object. */
        content: "";
        position: absolute;
        display: block;
        height: 3px;
        width: $select-width - 0.2em;
        left: 1px;
        top: -1px;
        background: white;
    }

    div.sheet-equip.sheet-custom {
        /* A piece of custom equipment just has a free text field. */
        input {
        width: $equip-width;
        }
    }

    div.sheet-equip.sheet-armor,
    div.sheet-equip.sheet-weapon {
        input.sheet-equip-name {
        width: $equip-width/5;
        }
    }
}