div.equip.weapon.row
  div.col
    input.equip-name.underline(type="text", name=`attr_EquipWeapName${c}`, value="Weapon name")
  div.col.input-col
    div.row
      div.col
        input.underline(type="text", name=`attr_EquipWeapDmg${c}`)
    div.row
      div.col
        input.underline(type="text", name=`attr_EquipWeapSneak${c}`)
  div.col
    div.row
      div.col.label-inline
        span damage
    div.row
      div.col.label-inline
        span sneak damage
  div.col.input-col
    div.row
      div.col
        input(type="text", name=`attr_EquipWeapRange${c}`)
  div.col
    div.row
      div.col.label-inline
        span range