$root-width: 87em;
$root-padding: 1em;

@use './components/tab-row/tab-row.scss' with (
  $width: $root-width - 2*$root-padding
);
@use './components/character/character.scss' with (
  $width: $root-width - 2*$root-padding
);

/* Fancy fonts!!! */
* {
  font-family: 'Marko One';
  font-size: 12px;
}

label {
  font-family: 'IM Fell English SC';
  font-size: 1.5em;
}

/* Root styling */
div.sheet-root {
  background-color: grey;
  width: $root-width;
  padding: $root-padding;
}