@import url("https://fonts.googleapis.com/css?family=IM+Fell+English+SC|Marko+One&display=swap");
div.sheet-if-healing-1,
div.sheet-if-crit-1 {
  display: none;
}

input.sheet-control-augur-1[value="16"] ~ .sheet-root div.sheet-if-healing-1,
input.sheet-control-augur-1[value="26"] ~ .sheet-root div.sheet-if-crit-1,
input.sheet-control-augur-1[value="28"] ~ .sheet-root div.sheet-if-crit-1 {
  display: block;
}

div.sheet-if-healing-2,
div.sheet-if-crit-2 {
  display: none;
}

input.sheet-control-augur-2[value="16"] ~ .sheet-root div.sheet-if-healing-2,
input.sheet-control-augur-2[value="26"] ~ .sheet-root div.sheet-if-crit-2,
input.sheet-control-augur-2[value="28"] ~ .sheet-root div.sheet-if-crit-2 {
  display: block;
}

div.sheet-if-healing-3,
div.sheet-if-crit-3 {
  display: none;
}

input.sheet-control-augur-3[value="16"] ~ .sheet-root div.sheet-if-healing-3,
input.sheet-control-augur-3[value="26"] ~ .sheet-root div.sheet-if-crit-3,
input.sheet-control-augur-3[value="28"] ~ .sheet-root div.sheet-if-crit-3 {
  display: block;
}

div.sheet-if-healing-4,
div.sheet-if-crit-4 {
  display: none;
}

input.sheet-control-augur-4[value="16"] ~ .sheet-root div.sheet-if-healing-4,
input.sheet-control-augur-4[value="26"] ~ .sheet-root div.sheet-if-crit-4,
input.sheet-control-augur-4[value="28"] ~ .sheet-root div.sheet-if-crit-4 {
  display: block;
}

input.sheet-augur-desc {
  /* Format the birth augur description. */
  background: transparent;
  border-width: 0;
  cursor: default;
  width: 36em;
}

div.sheet-tabs > button.sheet-tab::before,
div.sheet-tabs > button.sheet-tab::after {
  /* Shared configuration for the triangular pseudo-elements.  These elements are placed on the
  left and right sides of the tabs to make them look like real folder tabs. */
  content: "";
  position: absolute;
  background: transparent;
  height: inherit;
  width: 0;
  border-top: 1em solid transparent;
}

div.sheet-tabs > button.sheet-tab::before {
  /* Position the left-side triangular pseudo-elements. */
  left: -0.45em;
  border-left: 0.25em solid transparent;
}

div.sheet-tabs > button.sheet-tab::after {
  /* Position the left-side triangular pseudo-elements. */
  right: -0.45em;
  border-right: 0.25em solid transparent;
}

input.sheet-control-char[value="1"] ~ .sheet-root div.sheet-tabs > button.sheet-tab.sheet-tab-1 {
  /* Turn the selected tab white. */
  position: relative;
  z-index: 2;
  background: white;
  border-bottom: 1px solid white;
}
input.sheet-control-char[value="1"] ~ .sheet-root div.sheet-tabs > button.sheet-tab.sheet-tab-1::before {
  /* Turn the triangular pseudo-elements white for the selected tab. */
  bottom: -1px;
  border-right: 0.25em solid white;
  border-bottom: 1em solid white;
}
input.sheet-control-char[value="1"] ~ .sheet-root div.sheet-tabs > button.sheet-tab.sheet-tab-1::after {
  /* Turn the triangular pseudo-elements white for the selected tab. */
  bottom: -1px;
  border-left: 0.25em solid white;
  border-bottom: 1em solid white;
}

input.sheet-control-char:not([value="1"]) ~ .sheet-root div.sheet-character.sheet-char-1 {
  /* Hide characters that are not selected. */
  display: none;
}
input.sheet-control-char:not([value="1"]) ~ .sheet-root div.sheet-tabs > button.sheet-tab.sheet-tab-1 > input.sheet-tabrank {
  border: none;
  cursor: pointer;
}
input.sheet-control-char:not([value="1"]) ~ .sheet-root div.sheet-tabs > button.sheet-tab.sheet-tab-1::before {
  /* Turn the triangular pseudo-elements lightgrey for the selected tab. */
  bottom: 0;
  border-right: 0.25em solid lightgrey;
  border-bottom: 1em solid lightgrey;
}
input.sheet-control-char:not([value="1"]) ~ .sheet-root div.sheet-tabs > button.sheet-tab.sheet-tab-1::after {
  /* Turn the triangular pseudo-elements lightgrey for the selected tab. */
  bottom: 0;
  border-left: 0.25em solid lightgrey;
  border-bottom: 1em solid lightgrey;
}

input.sheet-control-char[value="2"] ~ .sheet-root div.sheet-tabs > button.sheet-tab.sheet-tab-2 {
  /* Turn the selected tab white. */
  position: relative;
  z-index: 2;
  background: white;
  border-bottom: 1px solid white;
}
input.sheet-control-char[value="2"] ~ .sheet-root div.sheet-tabs > button.sheet-tab.sheet-tab-2::before {
  /* Turn the triangular pseudo-elements white for the selected tab. */
  bottom: -1px;
  border-right: 0.25em solid white;
  border-bottom: 1em solid white;
}
input.sheet-control-char[value="2"] ~ .sheet-root div.sheet-tabs > button.sheet-tab.sheet-tab-2::after {
  /* Turn the triangular pseudo-elements white for the selected tab. */
  bottom: -1px;
  border-left: 0.25em solid white;
  border-bottom: 1em solid white;
}

input.sheet-control-char:not([value="2"]) ~ .sheet-root div.sheet-character.sheet-char-2 {
  /* Hide characters that are not selected. */
  display: none;
}
input.sheet-control-char:not([value="2"]) ~ .sheet-root div.sheet-tabs > button.sheet-tab.sheet-tab-2 > input.sheet-tabrank {
  border: none;
  cursor: pointer;
}
input.sheet-control-char:not([value="2"]) ~ .sheet-root div.sheet-tabs > button.sheet-tab.sheet-tab-2::before {
  /* Turn the triangular pseudo-elements lightgrey for the selected tab. */
  bottom: 0;
  border-right: 0.25em solid lightgrey;
  border-bottom: 1em solid lightgrey;
}
input.sheet-control-char:not([value="2"]) ~ .sheet-root div.sheet-tabs > button.sheet-tab.sheet-tab-2::after {
  /* Turn the triangular pseudo-elements lightgrey for the selected tab. */
  bottom: 0;
  border-left: 0.25em solid lightgrey;
  border-bottom: 1em solid lightgrey;
}

input.sheet-control-char[value="3"] ~ .sheet-root div.sheet-tabs > button.sheet-tab.sheet-tab-3 {
  /* Turn the selected tab white. */
  position: relative;
  z-index: 2;
  background: white;
  border-bottom: 1px solid white;
}
input.sheet-control-char[value="3"] ~ .sheet-root div.sheet-tabs > button.sheet-tab.sheet-tab-3::before {
  /* Turn the triangular pseudo-elements white for the selected tab. */
  bottom: -1px;
  border-right: 0.25em solid white;
  border-bottom: 1em solid white;
}
input.sheet-control-char[value="3"] ~ .sheet-root div.sheet-tabs > button.sheet-tab.sheet-tab-3::after {
  /* Turn the triangular pseudo-elements white for the selected tab. */
  bottom: -1px;
  border-left: 0.25em solid white;
  border-bottom: 1em solid white;
}

input.sheet-control-char:not([value="3"]) ~ .sheet-root div.sheet-character.sheet-char-3 {
  /* Hide characters that are not selected. */
  display: none;
}
input.sheet-control-char:not([value="3"]) ~ .sheet-root div.sheet-tabs > button.sheet-tab.sheet-tab-3 > input.sheet-tabrank {
  border: none;
  cursor: pointer;
}
input.sheet-control-char:not([value="3"]) ~ .sheet-root div.sheet-tabs > button.sheet-tab.sheet-tab-3::before {
  /* Turn the triangular pseudo-elements lightgrey for the selected tab. */
  bottom: 0;
  border-right: 0.25em solid lightgrey;
  border-bottom: 1em solid lightgrey;
}
input.sheet-control-char:not([value="3"]) ~ .sheet-root div.sheet-tabs > button.sheet-tab.sheet-tab-3::after {
  /* Turn the triangular pseudo-elements lightgrey for the selected tab. */
  bottom: 0;
  border-left: 0.25em solid lightgrey;
  border-bottom: 1em solid lightgrey;
}

input.sheet-control-char[value="4"] ~ .sheet-root div.sheet-tabs > button.sheet-tab.sheet-tab-4 {
  /* Turn the selected tab white. */
  position: relative;
  z-index: 2;
  background: white;
  border-bottom: 1px solid white;
}
input.sheet-control-char[value="4"] ~ .sheet-root div.sheet-tabs > button.sheet-tab.sheet-tab-4::before {
  /* Turn the triangular pseudo-elements white for the selected tab. */
  bottom: -1px;
  border-right: 0.25em solid white;
  border-bottom: 1em solid white;
}
input.sheet-control-char[value="4"] ~ .sheet-root div.sheet-tabs > button.sheet-tab.sheet-tab-4::after {
  /* Turn the triangular pseudo-elements white for the selected tab. */
  bottom: -1px;
  border-left: 0.25em solid white;
  border-bottom: 1em solid white;
}

input.sheet-control-char:not([value="4"]) ~ .sheet-root div.sheet-character.sheet-char-4 {
  /* Hide characters that are not selected. */
  display: none;
}
input.sheet-control-char:not([value="4"]) ~ .sheet-root div.sheet-tabs > button.sheet-tab.sheet-tab-4 > input.sheet-tabrank {
  border: none;
  cursor: pointer;
}
input.sheet-control-char:not([value="4"]) ~ .sheet-root div.sheet-tabs > button.sheet-tab.sheet-tab-4::before {
  /* Turn the triangular pseudo-elements lightgrey for the selected tab. */
  bottom: 0;
  border-right: 0.25em solid lightgrey;
  border-bottom: 1em solid lightgrey;
}
input.sheet-control-char:not([value="4"]) ~ .sheet-root div.sheet-tabs > button.sheet-tab.sheet-tab-4::after {
  /* Turn the triangular pseudo-elements lightgrey for the selected tab. */
  bottom: 0;
  border-left: 0.25em solid lightgrey;
  border-bottom: 1em solid lightgrey;
}

span.sheet-dead-stamp {
  /* Put that DEAD stamp all up in their face. */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  font-size: 20em;
  color: red;
}

input.sheet-toggle-ctrl[value=on] + button.sheet-tab > input.sheet-tabrank, input.sheet-toggle-ctrl[value=on] + button.sheet-tab input.sheet-tabtext {
  /* Strikethrough tab text for dead characters. */
  background-image: linear-gradient(transparent 1em, black 1em, black 1.15em, transparent 1.15em);
}

input.sheet-toggle-ctrl[value=off] + span.sheet-dead-stamp {
  /* Hide the "DEAD" stamp the character is not dead. */
  display: none;
}

input.sheet-equip-select:not([value=Custom]) ~ div.sheet-equip.sheet-custom,
input.sheet-equip-select:not([value=Armor]) ~ div.sheet-equip.sheet-armor,
input.sheet-equip-select:not([value=Weapon]) ~ div.sheet-equip.sheet-weapon {
  /* Equipment type selection logic. */
  display: none !important;
}

div.repitem {
  /* Format the gear section. */
}
div.repitem select.sheet-equip-type {
  width: 10em;
  display: block;
  margin-bottom: 0em;
  border-bottom: 0px solid transparent;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
div.repitem div.sheet-equip {
  /* Width of an equipment controls div is the width of a double-wide div.
  But since we're using a padding of $sheet-col-margins, we need to subtract
  two times that value to get the correct width. */
  width: 60em;
  display: inline-block;
  position: relative;
  border: 1px solid #cccccc;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 0.5em;
  margin-bottom: 0.5em;
}
div.repitem div.sheet-equip div.sheet-col.sheet-input-col {
  margin-left: 0.5em;
}
div.repitem div.sheet-equip div.sheet-col.sheet-label-inline {
  /* Styling for labels that are inline with their fields. */
  width: 8em;
}
div.repitem div.sheet-equip input {
  width: 5em;
}
div.repitem select.sheet-equip-type ~ div.sheet-equip::before {
  /* This will "hide" the part of the top border adjacent to the equip-type select
  control, effectively making the components look like one object. */
  content: "";
  position: absolute;
  display: block;
  height: 3px;
  width: 9.8em;
  left: 1px;
  top: -1px;
  background: white;
}
div.repitem div.sheet-equip.sheet-custom {
  /* A piece of custom equipment just has a free text field. */
}
div.repitem div.sheet-equip.sheet-custom input {
  width: 60em;
}
div.repitem div.sheet-equip.sheet-armor input.sheet-equip-name,
div.repitem div.sheet-equip.sheet-weapon input.sheet-equip-name {
  width: 12em;
}

div.sheet-tabs {
  position: relative;
}

button.sheet-tab {
  position: relative;
  width: 15em;
  margin-left: 0.75em;
  background: lightgrey;
  border: 0;
  padding: 0;
  border-bottom: 1px solid grey;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  position: relative;
  z-index: 1;
  box-shadow: 1.25em 0.75em 0.5em;
}
button.sheet-tab > input.sheet-tabrank {
  display: inline-block;
  width: 2em;
  background: transparent;
}
button.sheet-tab > input.sheet-tabtext {
  width: 11em;
  background: transparent;
  border: none;
  cursor: pointer;
}

input.sheet-checklines-ctrl:not([value=lawful]) ~ button.sheet-checkline-lawful > span.sheet-checked {
  background: transparent;
  color: transparent !important;
}

input.sheet-checklines-ctrl:not([value=neutral]) ~ button.sheet-checkline-neutral > span.sheet-checked {
  background: transparent;
  color: transparent !important;
}

input.sheet-checklines-ctrl:not([value=chaotic]) ~ button.sheet-checkline-chaotic > span.sheet-checked {
  background: transparent;
  color: transparent !important;
}

/* Checkline styles need to be aware of the different values for each set of
checklines (in order to properly indicate which value is selected).  These
should be defined in their own files under the relevant component, and then
registered below. */
.sheet-checklines {
  /* Configure the container for the checkline buttons. */
  display: inline-flex;
  align-items: center;
  vertical-align: bottom;
  height: 27px;
  padding: 4px;
}
.sheet-checklines > button.sheet-checkline {
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  width: 14px;
  height: 14px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.sheet-checklines > button.sheet-checkline > span.sheet-checked {
  color: black;
  display: inline-flex;
}
.sheet-checklines > button.sheet-checkline ~ span {
  margin-right: 10px;
}

input.sheet-toggle-ctrl[value=off] ~ button.sheet-toggle > span.sheet-checked {
  background: transparent;
  color: transparent !important;
}

input.sheet-toggle-ctrl[value=off] ~ button.sheet-toggle > span.sheet-checked {
  background: transparent;
  color: transparent !important;
}

input.sheet-toggle-ctrl[value=off] ~ button.sheet-toggle > span.sheet-checked {
  background: transparent;
  color: transparent !important;
}

input.sheet-toggle-ctrl[value=off] ~ button.sheet-toggle > span.sheet-checked {
  background: transparent;
  color: transparent !important;
}

button.sheet-toggle {
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  width: 14px;
  height: 14px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
button.sheet-toggle > span.sheet-checked {
  color: black;
  display: inline-flex;
}
button.sheet-toggle ~ span {
  margin-right: 10px;
}

/* Some global formatting. */
* {
  font-family: "Marko One";
  font-size: 12px;
}

label {
  font-family: "IM Fell English SC";
  font-size: 1.5em;
}

button {
  outline: none;
}

input {
  outline: none;
  width: 20em;
}

input[type=text].sheet-underline {
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
}

input[type=number] {
  height: 2em;
}

input[type=number][readonly] {
  -moz-appearance: textfield;
  height: 2em;
}

.sheet-note {
  font-size: 0.83em;
}

button[type=roll] {
  height: 18px;
}

button[type=roll].sheet-d10::before {
  font-family: "dicefontd10";
  content: "J";
}

button[type=roll].sheet-d20::before {
  font-family: "dicefontd20";
  content: "T";
}

/* Configure the root div containing all elements. */
.sheet-root {
  width: 66em;
  background-color: gray;
  padding: 2em;
  position: relative;
}
.sheet-root div.sheet-character {
  /* Configure the containers for the character sheet.  Note that sheets are hidden by default,
     and only revealed if the correct tab is selected. */
  display: block;
  background-color: white;
  padding: 0.5em;
  width: 64em;
  border-radius: 0.25em;
  position: relative;
  z-index: 2;
  box-shadow: 1.25em 0.75em 0.5em;
}
.sheet-root div.sheet-character div.sheet-row {
  display: block;
}
.sheet-root div.sheet-character div.sheet-row div.sheet-col.sheet-single,
.sheet-root div.sheet-character div.sheet-row div.sheet-col.sheet-double,
.sheet-root div.sheet-character div.sheet-row div.sheet-col.sheet-triple,
.sheet-root div.sheet-character div.sheet-row div.sheet-col.sheet-full {
  margin: 0.5em !important;
}
.sheet-root div.sheet-character div.sheet-row div.sheet-col.sheet-single {
  width: 20em;
}
.sheet-root div.sheet-character div.sheet-row div.sheet-col.sheet-double {
  width: 41em;
}
.sheet-root div.sheet-character div.sheet-row div.sheet-col.sheet-triple {
  width: 62em;
}
.sheet-root div.sheet-character > div.sheet-row {
  margin-top: 1em;
}
.sheet-root div.sheet-character div.sheet-col.sheet-label-inline {
  /* Styling for labels that are inline with their fields. */
  width: 4em;
  height: 2em;
  position: relative;
}
.sheet-root div.sheet-character div.sheet-col.sheet-label-inline > label,
.sheet-root div.sheet-character div.sheet-col.sheet-label-inline span {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.sheet-root div.sheet-character textarea {
  /* Format the notes textarea. */
  resize: none !important;
  margin: 0em;
  padding: 0.25em;
  overflow-x: hidden;
  overflow-y: scroll;
}

/*# sourceMappingURL=DCC_4_Up.css.map */
