include src/mixins/checklines.pug
include src/mixins/controls.pug
include src/mixins/scores.pug
include src/mixins/simple_attributes.pug
include src/mixins/toggle.pug

- var chars = ["1", "2", "3", "4"]

// Hidden "control" inputs to help drive sheet behavior.
+hidden_control("character", -1, "1").control-char
+hidden_control("total_living", -1, "").control-survivors
each c in chars
  // More hidden controls, but these need to be per-character.
  +hidden_control("alignment", c, "false")(class=`control-alignment-${c}`)
  +hidden_control("augur", c, 0)(class=`control-augur-${c}`)

// The actual sheet content.
div.root
  div.tabs
    each c in chars
      include src/components/tabs/tabs.pug
  each c in chars
    include src/components/sheets/sheets.pug

script(type="text/worker")
  //- This file MUST be included first, as it defines constants used in the files below.
  include src/js/constants.js

  //- These files can be included in any order, as they only depend on constants.js.
  include src/components/tabs/char_tabs.js
  include src/components/status/xp.js
  include src/components/attributes/mods.js
  include src/components/augur/birth_augurs.js
  include src/components/equipment/equipment.js

  //- This file MUST be included last, as it uses code defined in the files above.
  include src/js/per_character.js