div.sheet-hero {
  padding: 1em;
  background-color: white;
  width: max-content;
  display: grid;

  grid-template-columns: repeat(10, minmax(auto, 64px));
  grid-template-rows: auto 64px auto auto;
  grid-gap: 1em 1em;
}

div.sheet-hero-name {
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
}

div.sheet-hero-occupation {
  grid-column: 4 / span 3;
  grid-row: 1 / span 1;
}

div.sheet-hero-class {
  grid-column: 7 / span 3;
  grid-row: 1 / span 1;
}

div.sheet-hero-stat-cell,
div.sheet-hero-label-cell {
  display: grid;
  grid-column-end: span 1;
  grid-row-end: span 1;
  justify-content: center;
}

div.sheet-hero-details-wrapper {
  grid-column-end: span 10;
  grid-row-end: span 1;
}

.sheet-wrap-collapsible {
  margin-bottom: 1.2rem 0;
}

// input[type='checkbox'] {
//   display: none;
// }

.sheet-lbl-toggle {
  display: block;

  font-weight: bold;
  font-family: monospace;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;

  padding: 1rem;

  color: #A77B0E;
  background: #FAE042;

  cursor: pointer;

  border-radius: 7px;
  transition: all 0.25s ease-out;
}

.sheet-lbl-toggle:hover {
  color: #7C5A0B;
}

.sheet-lbl-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.sheet-toggle:checked + .sheet-lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.sheet-collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.sheet-toggle:checked + .sheet-lbl-toggle + .sheet-collapsible-content {
  max-height: 100vh;
}

.sheet-toggle:checked + .sheet-lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.sheet-collapsible-content .sheet-content-inner {
  background: rgba(250, 224, 66, .2);
  border-bottom: 1px solid rgba(250, 224, 66, .45);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
}