div.sheet-hero {
  padding: 1em;
  background-color: white;
  width: max-content;
  display: grid;

  grid-template-columns: repeat(10, minmax(auto, 64px));
  grid-template-rows: auto 64px auto;
  grid-gap: 1em 1em;
}

div.sheet-hero-name {
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
}

div.sheet-hero-occupation {
  grid-column: 4 / span 3;
  grid-row: 1 / span 1;
}

div.sheet-hero-class {
  grid-column: 7 / span 3;
  grid-row: 1 / span 1;
}

div.sheet-hero-stat-cell,
div.sheet-hero-label-cell {
  display: grid;
  grid-column-end: span 1;
  grid-row-end: span 1;
  justify-content: center;
}