div.sheet-hero {
  padding: 1em;
  background-color: white;
  width: max-content;
  display: grid;
  margin-bottom: 1em;

  box-shadow: 0.5em 0.5em 0.5em #606060;

  grid-template-columns: repeat(10, minmax(auto, 64px));
  grid-template-rows: auto 64px auto auto;
  grid-gap: 1em 1em;
}

div.sheet-hero-name-occ-cell {
  grid-column-end: span 3;
  grid-row-end: span 1;
}

div.sheet-hero-class-cell {
  grid-column-end: span 2;
  grid-row-end: span 1;
}

div.sheet-hero-level-cell,
div.sheet-hero-title-cell {
  grid-column-end: span 1;
  grid-row-end: span 1;
}

div.sheet-hero-stat-cell,
div.sheet-hero-label-cell {
  display: grid;
  grid-column-end: span 1;
  grid-row-end: span 1;
  justify-content: center;
  text-align: center;
}

div.sheet-wrap-hero-details {
  grid-column-end: span 10;
  grid-row-end: span 1;
}

input.sheet-stat,
input.sheet-stat-mod {
  background: transparent;
  border: none;
  outline: none;
  text-align: center;
  color: black;
  font-weight: bold;
  height: 24px;
  width: 35px !important;
}

input.sheet-stat {
  // background: rgb(255, 255, 255, 0.75);
  border-bottom: solid black;
  font-size: 1.5em;
  align-self: end;
}

input.sheet-stat.sheet-standalone {
  background: transparent;
  border: none;
  align-self: center;
}

input.sheet-stat-mod {
  font-size: 1.25em;
  margin: 0 auto;
  cursor: default;
  align-self: start;
}

input.sheet-stat::-webkit-outer-spin-button,
input.sheet-stat::-webkit-inner-spin-button,
input.sheet-stat-mod::-webkit-outer-spin-button,
input.sheet-stat-mod::-webkit-inner-spin-button {
  /* Remove spinners in Chrome, Safari, Edge, Opera */
  -webkit-appearance: none;
}


input.sheet-stat[type=number],
input.sheet-stat-mod[type=number] {
  /* Remove spinners in Firefox */
  -moz-appearance: textfield;
}

div.sheet-contents {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

input.sheet-toggle:checked ~ div.sheet-contents {
  max-height: 100vh;
}