$sheet-background: white;
$sheet-width: 730px;
$sheet-margin: 20px;
$sheet-shadow: 10px 10px 5px;

$root-background: gray;
$root-width: $sheet-width*2 + $sheet-margin*7 + 5;

/* Configure the root div containing all elements. */
.sheet-root {
  width: $root-width;
  background-color: $root-background;
}

/* Configure parent divs for each of the character sheets. */
.sheet-charrow {
  display: block;
  padding: $sheet-margin;
  ~ div.sheet-charrow {
    /* Remove the top padding of the second row, so that the padding isn't doubled. */
    padding-top: 0px;
  }
}

div.sheet-character {
  display: inline-block;
  padding: $sheet-margin;
  background-color: $sheet-background;
  width: $sheet-width;
  box-shadow: $sheet-shadow;
  ~ div.sheet-character {
    /* The margins for the charrow handles all the spacing except between sheets horizontally. 
       Add left margin to the sheets on the right to handle that.*/
    margin-left: $sheet-margin;
  }
  > div.sheet-row.sheet-char-row {
    margin-top: 20px;
    > div.sheet-col.sheet-char-col {
      width: ($sheet-width - $sheet-width%3)/3 - 3;
    }
  }
}

/* Configure a container for the alignment checkline buttons. */
.sheet-checklines {
  display: inline-flex;
  align-items: center;
  vertical-align: bottom;
  height: 27px;
  padding: 4px;
  > button.sheet-checkline {
    background: transparent;
    border: none;
    border-bottom: 1px solid black;  
    width: 14px;
    height: 14px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    > span.sheet-checked {
      color: black;
      display: inline-flex;
    }
    ~ span {
      margin-right: 10px;
    }
  }
  
  /* Hide the "checked" section of the checkline if the attribute value does not match the checkline. */
  input.sheet-checkline:not([value="lawful"]) ~ button.sheet-checkline-lawful > span.sheet-checked,
  input.sheet-checkline:not([value="neutral"]) ~ button.sheet-checkline-neutral > span.sheet-checked,
  input.sheet-checkline:not([value="chaotic"]) ~ button.sheet-checkline-chaotic > span.sheet-checked {
    background: transparent;
    color: transparent;
  }
}

/* Format the attribute columns. */
div.sheet-row.sheet-att-row {
  div.sheet-col.sheet-att-col {
    width: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: left;
    vertical-align: middle;
    label {
      display: inline-block;
      vertical-align: middle;
      margin: 0px;
      padding: 0px;
    }
  }
}

/* Make text input be a simple line. */
input[type=text] {
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
}