@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC|Marko+One&display=swap');

$sheet-background: white;
$sheet-num-cols: 4;

$sheet-col-width: 20em;
$sheet-col-margins: 0.5em;
$sheet-padding: 1em;
$sheet-width: 85em;
$sheet-shadow: 1.25em 0.75em 0.5em;

$root-background: gray;
$root-padding: 1em;
$root-width: 87em;

/* Some global formatting. */
* {
  font-family: 'Marko One';
  font-size: 12px;
}

label {
  font-family: 'IM Fell English SC';
  font-size: 1.5em;
}

input {
  outline: none;
  width: $sheet-col-width;
}

input[type=text] {
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
}

input[type=number] {
  height: 2em;
}

.sheet-note {
  font-size: 0.83em;
}

/* Configure the root div containing all elements. */
.sheet-root {
  width: $root-width;
  background-color: $root-background;
  padding: $root-padding*2;
  position: relative;

  div.sheet-tabs {
    position: relative;
  }

  button.sheet-tab {
    position: relative;
    width: $sheet-col-width;
    margin-left: $sheet-col-margins*2;
    background: lightgrey;
    border: 0;
    padding: 0;
    border-bottom: 1px solid grey;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    position: relative;
    z-index: 1;
    box-shadow: $sheet-shadow;
    > input.sheet-tabtext {
      background: transparent;
      border: none;
      cursor: pointer;
    }
  }
  
  input.sheet-char-control[value="1"] ~ div.sheet-tabs > button.sheet-tab.sheet-tab-1,
  input.sheet-char-control[value="2"] ~ div.sheet-tabs > button.sheet-tab.sheet-tab-2,
  input.sheet-char-control[value="3"] ~ div.sheet-tabs > button.sheet-tab.sheet-tab-3,
  input.sheet-char-control[value="4"] ~ div.sheet-tabs > button.sheet-tab.sheet-tab-4 {
    /* Respond to character selection tabs. */
    position: relative;
    z-index: 2;
    background: white;
    border-bottom: 1px solid white;
  }
  
  input.sheet-char-control[value="1"] ~ div.sheet-tabs > button.sheet-tab.sheet-tab-1::before,
  input.sheet-char-control[value="2"] ~ div.sheet-tabs > button.sheet-tab.sheet-tab-2::before,
  input.sheet-char-control[value="3"] ~ div.sheet-tabs > button.sheet-tab.sheet-tab-3::before,
  input.sheet-char-control[value="4"] ~ div.sheet-tabs > button.sheet-tab.sheet-tab-4::before {
    content: "";
    position: absolute;
    background: transparent;
    height: inherit;
    width: 0;
    bottom: -1px;

    left: -0.5em;
    border-right: 0.25em solid white;
    border-bottom: 1em solid white;
    border-left: 0.25em solid transparent;
    border-top: 1em solid transparent;
  }
  
  input.sheet-char-control[value="1"] ~ div.sheet-tabs > button.sheet-tab.sheet-tab-1::after,
  input.sheet-char-control[value="2"] ~ div.sheet-tabs > button.sheet-tab.sheet-tab-2::after,
  input.sheet-char-control[value="3"] ~ div.sheet-tabs > button.sheet-tab.sheet-tab-3::after,
  input.sheet-char-control[value="4"] ~ div.sheet-tabs > button.sheet-tab.sheet-tab-4::after {
    content: "";
    position: absolute;
    background: transparent;
    height: inherit;
    width: 0;
    bottom: -1px;

    right: -0.5em;
    border-left: 0.25em solid white;
    border-bottom: 1em solid white;
    border-right: 0.25em solid transparent;
    border-top: 1em solid transparent;
  }
  
  input.sheet-char-control:not([value="1"]) ~ div.sheet-tabs > button.sheet-tab.sheet-tab-1::before,
  input.sheet-char-control:not([value="2"]) ~ div.sheet-tabs > button.sheet-tab.sheet-tab-2::before,
  input.sheet-char-control:not([value="3"]) ~ div.sheet-tabs > button.sheet-tab.sheet-tab-3::before,
  input.sheet-char-control:not([value="4"]) ~ div.sheet-tabs > button.sheet-tab.sheet-tab-4::before {
    content: "";
    position: absolute;
    background: transparent;
    height: inherit;
    width: 0;
    bottom: 0;

    left: -0.5em;
    border-right: 0.25em solid lightgrey;
    border-bottom: 1em solid lightgrey;
    border-left: 0.25em solid transparent;
    border-top: 1em solid transparent;
  }
  
  input.sheet-char-control:not([value="1"]) ~ div.sheet-tabs > button.sheet-tab.sheet-tab-1::after,
  input.sheet-char-control:not([value="2"]) ~ div.sheet-tabs > button.sheet-tab.sheet-tab-2::after,
  input.sheet-char-control:not([value="3"]) ~ div.sheet-tabs > button.sheet-tab.sheet-tab-3::after,
  input.sheet-char-control:not([value="4"]) ~ div.sheet-tabs > button.sheet-tab.sheet-tab-4::after {
    content: "";
    position: absolute;
    background: transparent;
    height: inherit;
    width: 0;
    bottom: 0;

    right: -0.5em;
    border-left: 0.25em solid lightgrey;
    border-bottom: 1em solid lightgrey;
    border-right: 0.25em solid transparent;
    border-top: 1em solid transparent;
  }
  
  input.sheet-char-control:not([value="1"]) ~ div.sheet-character.sheet-char-1,
  input.sheet-char-control:not([value="2"]) ~ div.sheet-character.sheet-char-2,
  input.sheet-char-control:not([value="3"]) ~ div.sheet-character.sheet-char-3,
  input.sheet-char-control:not([value="4"]) ~ div.sheet-character.sheet-char-4 {
    /* Respond to character selection tabs. */
    display: none;
  }

  div.sheet-character {
    /* Configure the containers for the character sheet. */
    display: block;
    background-color: $sheet-background;
    padding: $sheet-col-margins;
    width: $sheet-width;
    position: relative;
    z-index: 2;
    box-shadow: $sheet-shadow;
    div.sheet-row {
      display: block;
      div.sheet-col.sheet-single,
      div.sheet-col.sheet-double,
      div.sheet-col.sheet-triple,
      div.sheet-col.sheet-full, {
        margin: $sheet-col-margins !important;
      }
      div.sheet-col.sheet-single {
        width: $sheet-col-width;
      }
      div.sheet-col.sheet-double {
        width: $sheet-col-width*2 + $sheet-col-margins*2;
      }
      div.sheet-col.sheet-triple {
        width: $sheet-col-width*3 + $sheet-col-margins*4;
      }
      div.sheet-col.sheet-full {
        width: $sheet-col-width*4 + $sheet-col-margins*6;
      }
    }

    div.sheet-col.sheet-label-inline {
      /* Styling for labels that are inline with their fields. */
      width: 4em;
      height: 2em;
      position: relative;
      > label,
      span {
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
      }
    }

    .sheet-checklines {
      /* Configure the container for the alignment checkline buttons. */
      display: inline-flex;
      align-items: center;
      vertical-align: bottom;
      height: 27px;
      padding: 4px;
      > button.sheet-checkline {
        background: transparent;
        border: none;
        border-bottom: 1px solid black;  
        width: 14px;
        height: 14px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        > span.sheet-checked {
          color: black;
          display: inline-flex;
        }
        ~ span {
          margin-right: 10px;
        }
      }
      
      input.sheet-checkline:not([value="lawful"]) ~ button.sheet-checkline-lawful > span.sheet-checked,
      input.sheet-checkline:not([value="neutral"]) ~ button.sheet-checkline-neutral > span.sheet-checked,
      input.sheet-checkline:not([value="chaotic"]) ~ button.sheet-checkline-chaotic > span.sheet-checked {
        /* Hide the "checked" section of the checkline if the attribute value does not match the checkline. */
        background: transparent;
        color: transparent;
      }
    }

    div.repitem {
      /* Format the gear section. */
      $select-width: 10em;
      select.sheet-equip-type {
        width: $select-width;
        display: block;
        margin-bottom: 0em;
        border-bottom: 0px solid transparent;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
      }

      $equip-width: $sheet-col-width*2 - $sheet-col-margins;
      div.sheet-equip {
        /* Width of an equipment controls div is the width of a double-wide div.
        But since we're using a padding of $sheet-col-margins, we need to subtract
        two times that value to get the correct width. */
        width: $equip-width;
        display: inline-block;
        position: relative;
        border: 1px solid rgb(204, 204, 204);
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        padding: $sheet-col-margins;
        margin-bottom: $sheet-col-margins;
        div.sheet-col.sheet-input-col {
          margin-left: 0.5em;
        }
        div.sheet-col.sheet-label-inline {
          /* Styling for labels that are inline with their fields. */
          width: 8em;
        }
        input {
          width: 5em;
        }
      }
      select.sheet-equip-type ~ div.sheet-equip::before {
        /* This will "hide" the part of the top border adjacent to the equip-type select
        control, effectively making the components look like one object. */
        content: "";
        position: absolute;
        display: block;
        height: 3px;
        width: $select-width - 0.2em;
        left: 1px;
        top: -1px;
        background: white;
      }
      
      div.sheet-equip.sheet-custom {
        /* A piece of custom equipment just has a free text field. */
        input {
          width: $equip-width;
        }
      }
      
      div.sheet-equip.sheet-armor,
      div.sheet-equip.sheet-weapon {
        input.sheet-equip-name {
          width: $equip-width/5;
        }
      }

      input.sheet-equip-select:not([value="Custom"]) ~ div.sheet-equip.sheet-custom,
      input.sheet-equip-select:not([value="Armor"]) ~ div.sheet-equip.sheet-armor,
      input.sheet-equip-select:not([value="Weapon"]) ~ div.sheet-equip.sheet-weapon {
        /* Equipment type selection logic. */
        display: none !important;
      }
    }

    input.sheet-augur-desc {
      /* Format the birth augur description. */
      background: transparent;
      border: none;
      cursor: default;
      width: $sheet-col-width*1.8;
    }
    div.sheet-if-healing,
    div.sheet-if-crit {
      display: none;
    }
    input.sheet-augur-hidden[value="16"] ~ div.sheet-if-healing,
    input.sheet-augur-hidden[value="26"] ~ div.sheet-if-crit,
    input.sheet-augur-hidden[value="28"] ~ div.sheet-if-crit {
      display: block;
    }

    textarea {
      /* Format the notes textarea. */
      resize: none !important;
      margin: 0em;
      padding: 0.25em;
      overflow-x: hidden;
      overflow-y: scroll;
    }
  }
}