@import url("https://fonts.googleapis.com/css?family=IM+Fell+English+SC|Marko+One&display=swap");
* {
  font-family: "Marko One";
}

label {
  font-family: "IM Fell English SC";
  font-size: 18px;
}

/* Make text input be a simple line. */
input[type=text] {
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
}

/* Configure the root div containing all elements. */
.sheet-root {
  width: 1605px;
  background-color: gray;
}

/* Configure parent divs for each of the character sheets. */
.sheet-charrow {
  display: block;
  padding: 20px;
}
.sheet-charrow ~ div.sheet-charrow {
  /* Remove the top padding of the second row, so that the padding isn't doubled. */
  padding-top: 0px;
}

div.sheet-character {
  display: inline-block;
  padding: 20px;
  background-color: white;
  width: 730px;
  box-shadow: 10px 10px 5px;
}
div.sheet-character ~ div.sheet-character {
  /* The margins for the charrow handles all the spacing except between sheets horizontally. 
     Add left margin to the sheets on the right to handle that.*/
  margin-left: 20px;
}
div.sheet-character > div.sheet-row.sheet-char-row {
  margin-top: 20px;
}
div.sheet-character > div.sheet-row.sheet-char-row > div.sheet-col.sheet-char-col {
  width: 240px;
}

/* Configure a container for the alignment checkline buttons. */
.sheet-checklines {
  display: inline-flex;
  align-items: center;
  vertical-align: bottom;
  height: 27px;
  padding: 4px;
  /* Hide the "checked" section of the checkline if the attribute value does not match the checkline. */
}
.sheet-checklines > button.sheet-checkline {
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  width: 14px;
  height: 14px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.sheet-checklines > button.sheet-checkline > span.sheet-checked {
  color: black;
  display: inline-flex;
}
.sheet-checklines > button.sheet-checkline ~ span {
  margin-right: 10px;
}
.sheet-checklines input.sheet-checkline:not([value=lawful]) ~ button.sheet-checkline-lawful > span.sheet-checked,
.sheet-checklines input.sheet-checkline:not([value=neutral]) ~ button.sheet-checkline-neutral > span.sheet-checked,
.sheet-checklines input.sheet-checkline:not([value=chaotic]) ~ button.sheet-checkline-chaotic > span.sheet-checked {
  background: transparent;
  color: transparent;
}

/* Format the attribute columns. */
div.sheet-row.sheet-att-row div.sheet-col.sheet-att-col {
  width: 45px;
  display: inline-flex;
  justify-content: center;
  align-items: left;
  vertical-align: middle;
}
div.sheet-row.sheet-att-row div.sheet-col.sheet-att-col label {
  display: inline-block;
  vertical-align: middle;
  margin: 0px;
  padding: 0px;
}

/* Format the gear columns. */
div.sheet-row.sheet-gear-row div.sheet-col.sheet-gear-col:first-child {
  width: 60px;
}
div.sheet-row.sheet-gear-row div.sheet-col.sheet-gear-col {
  display: inline-flex;
  justify-content: center;
  align-items: left;
  vertical-align: middle;
}
div.sheet-row.sheet-gear-row div.sheet-col.sheet-gear-col label {
  display: inline-block;
  vertical-align: middle;
  margin: 0px;
  padding: 0px;
}
div.sheet-row.sheet-gear-row div.sheet-col.sheet-gear-col input {
  width: 176px;
}

/*# sourceMappingURL=DCC_2_by_2.css.map */
