$sheet-background: white;
$sheet-num-cols: 4;

$sheet-col-width: 20em;
$sheet-col-margins: 0.5em;
$sheet-padding: 1em;
$sheet-width: 85em;
$sheet-shadow: 1.25em 0.75em 0.5em;

$root-background: gray;
$root-padding: 1em;
$root-width: 87em;

@use 'css/alignment_selector.scss';
@use 'css/augur.scss' with (
  $sheet-col-width: $sheet-col-width
);
@use 'css/character_selector.scss';
@use 'css/checklines.scss';
@use 'css/death_selector.scss';
@use 'css/equipment.scss' with (
  $sheet-col-width: $sheet-col-width,
  $sheet-col-margins: $sheet-col-margins
);
@use 'css/tabs.scss' with (
  $sheet-col-width: $sheet-col-width,
  $sheet-col-margins: $sheet-col-margins,
  $sheet-shadow: $sheet-shadow
);
@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC|Marko+One&display=swap');

/* Some global formatting. */
* {
  font-family: 'Marko One';
  font-size: 12px;
}

label {
  font-family: 'IM Fell English SC';
  font-size: 1.5em;
}

button {
  outline: none;
}

input {
  outline: none;
  width: $sheet-col-width;
}

input[type=text] {
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
}

input[type=number] {
  height: 2em;
}

input[type=number][readonly] {
  -moz-appearance: textfield;
  height: 2em;
}

.sheet-note {
  font-size: 0.83em;
}

button[type=roll].sheet-d10::before {
  font-family: "dicefontd10";
  content: "J";
}

button[type=roll].sheet-d20::before {
  font-family: "dicefontd20";
  content: "T";
}

/* Configure the root div containing all elements. */
.sheet-root {
  width: $root-width;
  background-color: $root-background;
  padding: $root-padding*2;
  position: relative;

  div.sheet-character {
    /* Configure the containers for the character sheet.  Note that sheets are hidden by default,
       and only revealed if the correct tab is selected. */
    display: block;
    background-color: $sheet-background;
    padding: $sheet-col-margins;
    width: $sheet-width;
    border-radius: 0.25em;
    position: relative;
    z-index: 2;
    box-shadow: $sheet-shadow;

    div.sheet-row {
      display: block;
      div.sheet-col.sheet-single,
      div.sheet-col.sheet-double,
      div.sheet-col.sheet-triple,
      div.sheet-col.sheet-full {
        margin: $sheet-col-margins !important;
      }
      div.sheet-col.sheet-single {
        width: $sheet-col-width;
      }
      div.sheet-col.sheet-double {
        width: $sheet-col-width*2 + $sheet-col-margins*2;
      }
      div.sheet-col.sheet-triple {
        width: $sheet-col-width*3 + $sheet-col-margins*4;
      }
      div.sheet-col.sheet-full {
        width: $sheet-col-width*4 + $sheet-col-margins*6;
      }
    }

    div.sheet-col.sheet-label-inline {
      /* Styling for labels that are inline with their fields. */
      width: 4em;
      height: 2em;
      position: relative;
      > label,
      span {
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
      }
    }

    textarea {
      /* Format the notes textarea. */
      resize: none !important;
      margin: 0em;
      padding: 0.25em;
      overflow-x: hidden;
      overflow-y: scroll;
    }
  }
}