@import url("https://fonts.googleapis.com/css?family=IM+Fell+English+SC|Marko+One&display=swap");
div.sheet-hero {
  padding: 1em;
  background-color: white;
  width: max-content;
  display: grid;
  margin-bottom: 1em;
  box-shadow: 0.5em 0.5em 0.5em #606060;
  grid-template-columns: repeat(10, minmax(auto, 64px));
  grid-template-rows: auto auto 64px auto auto;
  grid-gap: 1em 1em;
}

div.sheet-hero-3-cell {
  grid-column-end: span 3;
  grid-row-end: span 1;
}

div.sheet-hero-2-cell {
  grid-column-end: span 2;
  grid-row-end: span 1;
}

div.sheet-hero-1-cell {
  grid-column-end: span 1;
  grid-row-end: span 1;
}

div.sheet-hero-stat-cell,
div.sheet-hero-label-cell {
  display: grid;
  grid-column-end: span 1;
  grid-row-end: span 1;
  justify-content: center;
  text-align: center;
}

div.sheet-wrap-hero-details {
  grid-column-end: span 10;
  grid-row-end: span 1;
}

input.sheet-stat,
input.sheet-stat-mod {
  background: transparent;
  border: none;
  outline: none;
  text-align: center;
  color: black;
  font-weight: bold;
  height: 24px;
  width: 35px !important;
}

input.sheet-stat {
  border-bottom: solid black;
  font-size: 1.5em;
  align-self: end;
}

input.sheet-stat.sheet-standalone {
  background: transparent;
  border: none;
  align-self: center;
}

input.sheet-stat-mod {
  font-size: 1.25em;
  margin: 0 auto;
  cursor: default;
  align-self: start;
}

input.sheet-stat::-webkit-outer-spin-button,
input.sheet-stat::-webkit-inner-spin-button,
input.sheet-stat-mod::-webkit-outer-spin-button,
input.sheet-stat-mod::-webkit-inner-spin-button {
  /* Remove spinners in Chrome, Safari, Edge, Opera */
  -webkit-appearance: none;
}

input.sheet-stat[type=number],
input.sheet-stat-mod[type=number] {
  /* Remove spinners in Firefox */
  -moz-appearance: textfield;
}

div.sheet-contents {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

input.sheet-toggle:checked ~ div.sheet-contents {
  max-height: 100vh;
}

div.sheet-hero-details-buttons {
  display: grid;
  grid-template-columns: repeat(10, minmax(auto, 64px));
  grid-template-rows: auto auto auto;
  grid-gap: 1em 1em;
}

button.sheet-details-button {
  grid-column-end: span 2;
  grid-row-end: span 1;
  justify-content: center;
  text-align: center;
}

input.sheet-toggle[value=true] + div.sheet-hero-details-content {
  display: block;
}

div.sheet-hero-details-content {
  display: none;
}

div.sheet-abilities textarea {
  width: 738px;
}

div.sheet-armor-form {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: repeat(3, auto);
  grid-gap: 0.25em 0.5em;
}
div.sheet-armor-form input {
  height: 28px;
}
div.sheet-armor-form input[type=number],
div.sheet-armor-form select {
  width: 66px;
}
div.sheet-armor-form span.sheet-spacer {
  height: 1em;
  grid-column-end: 7;
}

div.sheet-weapon-form {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(15, auto);
  grid-gap: 0.25em 0.5em;
}
div.sheet-weapon-form input {
  height: 28px;
}
div.sheet-weapon-form input[type=number],
div.sheet-weapon-form select {
  width: 66px;
}
div.sheet-weapon-form input.sheet-damage {
  width: 105px;
}
div.sheet-weapon-form span.sheet-spacer {
  height: 1em;
  grid-column-end: 6;
}

div.sheet-inventory textarea {
  width: 738px;
}

div.sheet-spells textarea {
  width: 738px;
}

div.sheet-status textarea {
  width: 738px;
}

div.sheet-vitals {
  display: grid;
  grid-template-columns: 9em repeat(12, 3.5em);
  grid-template-rows: repeat(12, auto);
  grid-gap: 0.25em 0.5em;
}

input.sheet-augur,
span.sheet-augur {
  width: 100%;
  grid-column-end: span 10;
}

span.sheet-spacer {
  grid-column-end: 14;
}

span.sheet-augur-note-if-healing,
span.sheet-augur-note-if-crit {
  display: none;
}

input.sheet-augur-roll[value="16"] ~ span.sheet-augur-note-if-healing,
input.sheet-augur-roll[value="26"] ~ span.sheet-augur-note-if-crit,
input.sheet-augur-roll[value="28"] ~ span.sheet-augur-note-if-crit {
  display: block;
  grid-column-end: span 10;
  grid-row-end: span 1;
}

/* Some global formatting. */
* {
  font-family: "Marko One";
  font-size: 12px;
}

span.sheet-block-label {
  font-family: "IM Fell English SC";
  font-size: 1.5em;
  display: block;
}

span.sheet-inline-label {
  font-family: "IM Fell English SC";
  font-size: 1.5em;
  display: inline;
}

span.sheet-header {
  font-family: "IM Fell English SC";
  font-size: 3em;
  display: block;
}

div.sheet-root {
  background-color: lightgrey;
  padding: 1em;
  width: max-content;
}

/*# sourceMappingURL=DCC_Funnels_And_Followers.css.map */
