div.root
  span.header Heroes
  fieldset(class=`repeating_heroes`)
    include src/components/hero_sheet/hero_sheet.pug

script(type="text/worker")
  include src/js/detail_selector.js
  
  include src/js/stats.js