include src/mixins/stat_controls/stat_controls.pug
include src/mixins/text_attribute/text_attribute.pug

div.root
  span.header Heroes
  include src/components/hero_sheet/hero_sheet.pug
  span.header Followers
  include src/components/hero_sheet/hero_sheet.pug